@charset "utf-8";

@use './scss/variables.scss';
@use './scss/font.scss';
@use './scss/global.scss';

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'A2z', 'Pretendard', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  color: #333;
}

button {
  appearance: none;
  display: block;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

input,
textarea {
  display: block;
  border: none;
  outline: none;
  color: inherit;
}

p {
  min-height: 1rem;
  line-height: 1.4;
  white-space: pre-line;
}
